<!doctype html>
<html ng-app="MusicRoom">
    <head>
        <meta charset="utf-8">
        <title>TODO-LIST</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body class="container" ng-controller="musicCtrl">

     {{musiclist}}
      <!-- Scripts -->
      <script src="/js/angular.js"></script>
      <script src="/js/index.js"></script>
      <script src="/js/jquery.js"></script>
      <script src="/js/bootstrap.js"></script>

    </body>
</html>